@import url("./loader.css");
body{
    margin: 0;
}

ul{
    background-color: rgb(59, 59, 187);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

li{
    padding: 1rem;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color .4s, color .4s;
}

li:hover{
    background-color: rgb(245, 245, 6);
    color: black;
}

section{
    min-height: 90vh;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
}

.pageButtons {
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

button {
    width: 11rem;
    height: 3rem;
    font-size: 22px;
    color: black;
    background-color: transparent;
    border: 0.5px solid black;
    margin: 1rem;
    border-radius: .5rem;
    padding: 10px;
    cursor: pointer;
}